<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chats</ion-title>
      <ion-buttons  slot="end">
        <ion-button size="large" (click)="setIsNewChat(true)">
          <ion-icon slot="icon-only" name="add-circle" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chats</ion-title>
    </ion-toolbar>
  </ion-header>
  @let chatroomsArray = chatrooms();
  @if(chatroomsArray && chatroomsArray?.length! > 0){

    <ion-list>
  
      @for(chatroom of chatroomsArray; track $index){
  
      <ion-item [detail]="true" (click)="getChat(chatroom)">
        <ion-avatar slot="start">
          <ion-img [src]="chatroom?.photo" />
        </ion-avatar>
        <ion-label>
          {{  chatroom?.name }}
          @if(chatroom?.lastMessage){
  
            <p>
              {{ chatroom?.lastMessage }}
            </p>
          }
        </ion-label>
      </ion-item>
      } <!-- @empty {
      } -->
    </ion-list>
  
  }@else {
    <app-empty-screen [model]="model"></app-empty-screen>
  }



  <ion-modal #usersModal [isOpen]="isNewChat()" (didDismiss)="setIsNewChat(false)">
    <ng-template>
      @if(users()){

        <app-users [users]="users()" (close)="usersModal.dismiss()" (user)="startChat($event, usersModal)">
        </app-users>
      }

    </ng-template>
  </ion-modal>
</ion-content>