<ion-header >
  <ion-toolbar>
    <ion-title>Chat Mundo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal/grupos" color="medium"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="clearMessages()">Borrar mensajes</ion-button>
    </ion-buttons> -->
    <!-- <ion-icon
    name="ellipsis-vertical"
    slot="end"
    (click)="openMenu($event)"
    size="large"
  ></ion-icon> -->

 <!--  <ion-popover [isOpen]="isMenuOpen" [event]="event" (ionPopoverDidDismiss)="closeMenu()">
    <ng-template>
      <ion-list>
        <ion-item button (click)="clearFriend()">Eliminar amigo</ion-item>
        <ion-item button (click)="clearMessages()">Borrar mensajes</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  @let chatsArray = chats();
  @if(chatsArray && chatsArray?.length! >0){

    <ion-list>
      @for(chat of chatsArray; track $index){
  
        <app-chat-box-mundo [chat]="chat"> </app-chat-box-mundo>
      }
    </ion-list>
  }<!-- @else {
    <app-empty-screen [model]="model"></app-empty-screen>
  } -->
</ion-content>
<ion-footer>
  <ion-toolbar>
  <ion-item lines="none">
      <ion-textarea autoGrow rows="1" placeholder="Escribir mensaje" [(ngModel)]="message"> </ion-textarea>
      
      @if(isLoading()){
        <ion-button slot="end" size="large">
          <ion-spinner name ="crescent"></ion-spinner>
        </ion-button>

      }@else {
        <ion-button slot="end" size="large" (click) ="sendMessage()">
          <ion-icon slot="icon-only" name="send">
  
          </ion-icon>
        </ion-button>
      }

    </ion-item>
  </ion-toolbar>
</ion-footer>
