<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo chat</ion-title>
    <ion-buttons slot="start">
    <ion-button (click)="closeModal()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  @if(users()){

    <ion-list lines="none">
      @for(user of users(); track $index){
        <ion-item color="tertiary" (click)="startChat(user)">
          <ion-avatar slot="start">
            <ion-img [src]="'https://i.pravatar.cc/314'" />
          </ion-avatar>
          <ion-label>
            Usuario promedio
          </ion-label>
        </ion-item>
      }
    </ion-list>

  } 
  
</ion-content>