/* ion-header {
    ion-toolbar {
        ion-button {
            --padding-start: 0px;
            --padding-end: 0px;
            --padding-top: 0px;
            --padding-bottom:0px;
            height: 0px;
        }
    }
} */

ion-list {
    div.logo {
        justify-items: center;
    }
}