<ion-content [fullscreen]="true">
  <ion-list class="ion-margin">
    <div class="logo">
      <ion-title color="primary">Chat seds</ion-title>
    </div>
  <form [formGroup]="form">
      <ion-input placeholder="Correo" type="email" formControlName="email" errorText="Correo invalido">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-input>

      <ion-input placeholder="contraseña" type="password" formControlName="password" [errorText]="form.get('password')?.hasError('minlength') ? 'la contraseña debe ser mayor a 4 caracteres' : 'Ingresa la contraseña'">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input-password-toggle slot="end" ></ion-input-password-toggle>
      </ion-input>
      <div align="right">
        <ion-button fill="clear" size="small" color="medium" (click)="setFp(true)"> <p>¿olvidaste la contraseña?</p></ion-button>
      </div>
      <div>
      @if(!isLogin()){
        <ion-button size="large" expand="block" class="ion-margin-top class= ion-no-padding-top" [strong]="true" (click)="onSubmit()">
          <ion-text color="#fff">Ingresar</ion-text>
        </ion-button>
      } @else {
        <ion-button size="large" expand="block" class="ion-margin-top class= ion-no-padding-top" [strong]="true">
          <ion-spinner name="crescent"></ion-spinner>
        </ion-button>
      }
      </div>
    </form>
  </ion-list>

  <ion-alert 
  [isOpen]="!!errorMessage()"
  (didDismiss) ="setErrorMessage(null)"
  header="Alert" [message]="errorMessage()" buttons="['OK']"></ion-alert>

  <ion-modal [isOpen]="isFpModal()" (didDismiss)="setFp(false)" [breakpoints]="[0.5, 0.8, 1]" [initialBreakpoint]="0.8">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>
              Generar nueva contraseña
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="fpForm">

          <div class="ion-margin ion-padding" >
            <ion-input placeholder="Correo del usuario" type="email" formControlName="email" errorText="Correo invalido">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
            </ion-input>
  
          </div>
        </form>
        @if(!isForgot()){
          <ion-button size="large" expand="block" class="ion-margin-top class= ion-no-padding-top" [strong]="true" (click)="onFpSubmit()">
            <ion-text color="#fff">Enviar contraseña</ion-text>
          </ion-button>
        } @else {
          <ion-button size="large" expand="block" class="ion-margin ion-padding-top" [strong]="true">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-button>
        }
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div align="center">
      <ion-text>¿No tienes una cuenta?</ion-text>
      <ion-button fill="clear" size="small" [strong]="true" routerLink="signup">Registrarse</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>